/* RESETS */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* global variables */
:root {
  --primary-blue: rgb(6, 68, 110);
  --off-white: #d1dddc;
}

.App {
  height: 100vh;
  width: 100%;
}

/* Navbar */
.brand {
  font-family: "Racing Sans One";
}
/* End Navbar */

/* media queries */

/* for mobile - remove h1, nav buttons moved to cog for dropdown */

/* for tablet - nav buttoms moved to cog for dropdown*/
